<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css_reset.css" />
    <link rel="stylesheet" href="/index.css" />
    <title>Inventory_web-app_tod</title>
  </head>
  <body>
    <div class="body_container">
      <header>
        <h1>Nike</h1>
        <p>
          <img src="/assets/nike_logo.png" alt="" />
        </p>
      </header>
      <h2><a href="/shop">SHOP</a></h2>
      <section>
        <div class="feat1"><img src="/assets/AIR+MAX+DN8+AMD.webp" alt="" /></div>
        <div class="feat2"><img src="/assets/JORDAN+ZION+4+PF.webp" alt="" /></div>
        <div class="feat3"><img src="/assets/W+ZOOM+GP+CHALLENGE+1+HC.webp" alt="" /></div>
      </section>
    </div>
  </body>
</html>
