<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css_reset.css" />
    <link rel="stylesheet" href="/shop.css" />
    <title>Inventory_web-app_tod</title>
  </head>
  <body>
    <div class="body_container">
      <header>
        <form action="/shop" method="POST">
          <input type="search" name="search" id="search" placeholder="Search" />
          <select name="sort" id="sort">
            <option value="" disabled selected>Sort-By</option>
            <option value="category">Category</option>
            <option value="low">Price: Low-High</option>
            <option value="high">Price: High-Low</option>
          </select>
        </form>
      </header>
      <main>
        <div class="card">
          <p>
            <img src="/assets/AIR+MAX+DN8+AMD.webp" alt="" />
          </p>
          <span>
            <h1 class="title">Air Max Dn8</h1>
            <h2 class="category">Men's shoes</h2>
            <h1 class="price">$ <i>100.00</i></h1>
            <h2 class="stock">Stock: <i>2</i></h2>
          </span>
        </div>
        <div class="card">
          <p>
            <img src="/assets/AIR+MAX+DN8+AMD.webp" alt="" />
          </p>
          <span>
            <h1 class="title">Air Max Dn8</h1>
            <h2 class="category">Men's shoes</h2>
            <h1 class="price">$ <i>100.00</i></h1>
            <h2 class="stock">Stock: <i>2</i></h2>
          </span>
        </div>
        <div class="card">
          <p>
            <img src="/assets/AIR+MAX+DN8+AMD.webp" alt="" />
          </p>
          <span>
            <h1 class="title">Air Max Dn8</h1>
            <h2 class="category">Men's shoes</h2>
            <h1 class="price">$ <i>100.00</i></h1>
            <h2 class="stock">Stock: <i>2</i></h2>
          </span>
        </div>
        <div class="card">
          <p>
            <img src="/assets/AIR+MAX+DN8+AMD.webp" alt="" />
          </p>
          <span>
            <h1 class="title">Air Max Dn8</h1>
            <h2 class="category">Men's shoes</h2>
            <h1 class="price">$ <i>100.00</i></h1>
            <h2 class="stock">Stock: <i>2</i></h2>
          </span>
        </div>
        <div class="card">
          <p>
            <img src="/assets/AIR+MAX+DN8+AMD.webp" alt="" />
          </p>
          <span>
            <h1 class="title">Air Max Dn8</h1>
            <h2 class="category">Men's shoes</h2>
            <h1 class="price">$ <i>100.00</i></h1>
            <h2 class="stock">Stock: <i>2</i></h2>
          </span>
        </div>
        <div class="card">
          <p>
            <img src="/assets/AIR+MAX+DN8+AMD.webp" alt="" />
          </p>
          <span>
            <h1 class="title">Air Max Dn8</h1>
            <h2 class="category">Men's shoes</h2>
            <h1 class="price">$ <i>100.00</i></h1>
            <h2 class="stock">Stock: <i>2</i></h2>
          </span>
        </div>
        <div class="card">
          <p>
            <img src="/assets/AIR+MAX+DN8+AMD.webp" alt="" />
          </p>
          <span>
            <h1 class="title">Air Max Dn8</h1>
            <h2 class="category">Men's shoes</h2>
            <h1 class="price">$ <i>100.00</i></h1>
            <h2 class="stock">Stock: <i>2</i></h2>
          </span>
        </div>
      </main>
    </div>
  </body>
</html>
