html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

.body_container,
header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: inherit;
}

header {
  flex-flow: row nowrap;
  padding-top: 3rem;
}

form input,
form select {
  background-color: black;
  color: white;
  padding: 0.5rem 0.3rem;
  border: transparent;
}

form select {
  font-size: 14px;
  opacity: 0.5;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 600px;
  gap: 2rem;
  padding: 1rem;
  width: 65%;
}

.card,
.card span {
  display: flex;
  flex-flow: column nowrap;
  color: white;
  overflow: hidden;
}

.card span {
  padding-top: 10px;
}

.card span h1 {
  font-size: 20px;
}

.card span h2 {
  font-size: 16px;
  opacity: 0.8;
}

.card > p {
  width: 100%;
  height: 70%;
}

.card > p > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.price i {
  font-style: normal;
}